@import "variables";

body {
	margin: 0 !important;
	overflow-x: hidden;
}

.flow-text {
    font-size: 1rem !important;
}

nav {
	width: 100% !important;
	background: $san-marino !important;
	img {
		width: 25px;
		margin-top: 15px;
	}
	a {
		font-size: 13px !important;
	}
}

header {
	padding: 60px 0;
	h1 {
		font-size: 5rem;
		font-weight: 700;
		color: $san-marino;
	}
	p{
		color: $san-marino;
	}
	button {
		font-width: bold;
		margin-top: 20px;
		padding: 5px 60px 5px 40px !important;
		background-color: $san-marino !important;
		height: 100% !important;
		i {
			position: absolute !important;
			margin-top: -36px;
			margin-left: 60px !important;
		}
	}
	/*img  {
		position: absolute;
	}
	.aa {
		margin-left: -400px;
		margin-top: -100px;
	}
	.ab {
		margin-left: -440px;
		margin-top: -100px;
	}
	.ac {
		margin-left: -430px;
		margin-top: -100px;
	}
	.ad {
		margin-left: -420px;
		margin-top: -185px;
	}
	.ae {
		margin-left: -270px;
		margin-top: 25px;
	}
	.af {
		margin-left: -100px;
		margin-top: 235px;
	}
	.ag {
		margin-left: 128px;
		margin-top: 415px;
	}
	.lap {
		margin-left: -430px;
	}*/
}

#About {
	padding: 0rem 10rem 0 10rem;
	h4 ,h3 ,p {
		color: $san-marino;
	}
	.image1 {
		position: absolute;
		margin-left: -400px;
		margin-top: -100px;
		z-index: -4;
	}
	article {
		z-index: 4;
		margin-top: 350px;
	}
	.all-devices {
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

#Fe-atures {
	background: $clear-day;
	padding: 50px 0;
	h4, h5, p {
		color: $san-marino;
	}
	.lines {
		background: $chardonnay;
		margin: auto;
		width: 40vw;
		height: 1px;
		margin-bottom: 60px;
	}
	i {
		color: $chardonnay;
	}
}

#more {
	background: $clear-day;
	padding: 100px 0;
	.ba {
		width: 50vw;
	}
	.bb {
		position: absolute;
		margin-left: 210px;
		margin-top: -90px
	}
	.space {
		margin-top: 300px;
	}
	.bd {
		width: 50vw;
		margin-top: 100px;
		margin-left: 200px;
	}
	.bc {
		position: absolute;
		margin-top: -120px;
		margin-left: -15px;
		width: 40vw;
	}
	.s4 {
		padding-left: 5vw;
		padding-top: 6vw;
	}
	article {
		width: 20vw;
		color: $san-marino;
	}
}

#Pricing {
		background-image: url('../img/ELULA_Data_01.gif');
	.container-fluid {
		padding: 6vw 10vw 1vw 10vw;
	}
	.card-panel {
		border-radius: 5px;
	}
	.overlay {
		background: rgba(0,0,0,.6);
	}
	.startup {
		.btn {
		background: $san-marino;
		margin-top: 10px;
		padding: 0 40px;
		font-width: bold !important;
		height: 100% !important;
	}
	.divde {
		border-left: 1px solid $l-grey;
	}
	}
	.heads {
		article {
			padding-bottom: 50px;
			width: 40vw;
			color: #fff;
		}
	}
	i {
		font-size: 15px;
		color: #1cd3a2;
	}
	.premium {
		margin-top: 40px;
		.lines {
			width: 200px;
			height: 1px;
			margin: auto;
			background: #fff;
		}
		.card-panel {
			background: $san-marino;
			hr {
				margin: 20px 0 30px 0;
			}
			.btn {
				color: $san-marino;
				background: $light;
				margin-top: 10px;
				padding: 0 40px;
				font-width: bold !important;
				height: 100% !important;
	}
		}
	}
}

#ending {
	background: $l-grey;
	padding: 100px 0 0 0;
	.btn {
		margin-top: 20px;
		padding: 5px 40px 5px 40px !important;
		background-color: $san-marino !important;
		height: 100% !important;
	}
	img {
		width: 40vw;
		margin-top: -100px;

	}
}

footer {
	padding: 20px 0;
	background: $san-marino;
	h6 {
		font-weight: 600;
	}
	i {
		font-size: 15px;
		color: $chardonnay;
	}
	input[type=email]:not(.browser-default) {
		    border-bottom: 1px solid $chardonnay;
	}
	input {
		color: $chardonnay;
	}
	.input-field>label {
		color: $chardonnay;
	}
	.input-field .helper-text {
		color: $chardonnay;
	}
	small {
		color: #fff;
	}
}


