// variables

$primary: #5E4CE2;
$light: #FFFFFF;
$d-light: #F3F3F3;
$l-grey: #F5F3F3;

$spray: #84eded;
$charlotte: #bbfaf0;
$clear-day: #f3fffc;
$shakespeare: #5eb5d7;
$san-marino: #4365b3;

$chardonnay: #ffc980;